.weather-app {
  border: 1px solid rgba(22, 22, 22, 0.164);
  background-color: white;
  max-width: 800px;
  margin: 30px auto 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
