.Forecast .ForecastDayWeather {
  padding: 15px;
  
  margin: 5px;
}
.Forecast .maxim,
.minim {
  color: #0d6efd;
}
.future-weather {
  margin: 20px auto;
}
.future-weather .col {
  text-align: center;
  padding: 0;
}
.Forecast .forecastDay {
  font-size: 18px;
  margin-bottom: 7px;
  font-weight: bold;
}

.Forecast .maxim {
  font-size: 18px;
  line-height: 1.5;

  font-weight: 700;
  margin-right: 5px;
}

.Forecast .minim {
  font-size: 18px;
  opacity: 0.6;
  line-height: 1.5;

  font-weight: 700;
}

