.future-weather {
    margin: 20px auto;
  }
  .future-weather .col {
    text-align: center;
    padding: 0;
  }
  .card-title {
    font-size: 17px;
  }
  
  .card {
    margin: 7px auto;
  }
  
  .card .maxim {
    font-size: 18px;
    line-height: 1.5;
    color: #0d6efd;
    font-weight: 700;
    margin-right: 5px;
  }
  
  .card .minim {
    font-size: 18px;
    opacity: 0.6;
    line-height: 1.5;
    color: #0d6efd;
    font-weight: 700;
  }
  
  .card-img-top {
    width: 50%;
  }
  