@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%) fixed;
  line-height: normal;
}
