.WeatherTemp a:hover {
  font-weight: bold;
}

.WeatherTemp .active {
  font-weight: bold;
}

.WeatherTemp .desactive {
  font-size: 15px;
  opacity: 0.6;

}


.WeatherTemp .units {
  position: relative;
  top: -40px;
}

.WeatherTemp .units a {
  text-decoration: none;
}

#temperature {
    font-size: 80px;
  }
